src/main/resources/wsdl/benefitsService.wsdl.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.saxonheritagecharity.example.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://jaxb.dev.java.net/array" name="BenefitsServiceImplementationService" targetNamespace="http://services.saxonheritagecharity.example.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jaxb.dev.java.net/array" version="1.0">
            <xs:complexType final="#all" name="stringArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.saxonheritagecharity.example.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.saxonheritagecharity.example.com/">
            <xsd:element name="GlobalCustomException" type="tns:GlobalCustomException"/>
            <xsd:complexType name="GlobalCustomException">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="message" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="statusCode" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="removeMemberBenefit">
        <wsdl:part name="memberId" type="xsd:string"> </wsdl:part>
        <wsdl:part name="benefit" type="xsd:string"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GlobalCustomException">
        <wsdl:part element="tns:GlobalCustomException" name="GlobalCustomException"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMemberBenefitsResponse">
        <wsdl:part name="return" type="ns1:stringArray"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addMemberBenefit">
        <wsdl:part name="memberId" type="xsd:string"> </wsdl:part>
        <wsdl:part name="benefit" type="xsd:string"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMemberBenefits">
        <wsdl:part name="memberId" type="xsd:string"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="removeMemberBenefitResponse"> </wsdl:message>
    <wsdl:message name="addMemberBenefitResponse"> </wsdl:message>
    <wsdl:portType name="BenefitsService">
        <wsdl:operation name="addMemberBenefit">
            <wsdl:input message="tns:addMemberBenefit" name="addMemberBenefit"> </wsdl:input>
            <wsdl:output message="tns:addMemberBenefitResponse" name="addMemberBenefitResponse"> </wsdl:output>
            <wsdl:fault message="tns:GlobalCustomException" name="GlobalCustomException"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMemberBenefits">
            <wsdl:input message="tns:getMemberBenefits" name="getMemberBenefits"> </wsdl:input>
            <wsdl:output message="tns:getMemberBenefitsResponse" name="getMemberBenefitsResponse"> </wsdl:output>
            <wsdl:fault message="tns:GlobalCustomException" name="GlobalCustomException"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeMemberBenefit">
            <wsdl:input message="tns:removeMemberBenefit" name="removeMemberBenefit"> </wsdl:input>
            <wsdl:output message="tns:removeMemberBenefitResponse" name="removeMemberBenefitResponse"> </wsdl:output>
            <wsdl:fault message="tns:GlobalCustomException" name="GlobalCustomException"> </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BenefitsServiceImplementationServiceSoapBinding" type="tns:BenefitsService">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addMemberBenefit">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="addMemberBenefit">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="addMemberBenefitResponse">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GlobalCustomException">
                <soap:fault name="GlobalCustomException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMemberBenefits">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getMemberBenefits">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getMemberBenefitsResponse">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GlobalCustomException">
                <soap:fault name="GlobalCustomException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeMemberBenefit">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="removeMemberBenefit">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="removeMemberBenefitResponse">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GlobalCustomException">
                <soap:fault name="GlobalCustomException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BenefitsServiceImplementationService">
        <wsdl:port binding="tns:BenefitsServiceImplementationServiceSoapBinding" name="BenefitsServiceImplementationPort">
            <soap:address location="http://localhost:8080/soap-api/benefitsService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>