src/main/resources/wsdl/memberService.wsdl.xml

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.saxonheritage.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.saxonheritage.example.com/" name="MemberServiceImplService">
    <types/>
    <message name="registerMember">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
    </message>
    <message name="registerMemberResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="getMembershipInfo">
        <part name="arg0" type="xsd:string"/>
    </message>
    <message name="getMembershipInfoResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="sendPromotion">
        <part name="arg0" type="xsd:int"/>
        <part name="arg1" type="xsd:string"/>
    </message>
    <message name="sendPromotionResponse"/>
    <message name="updateMemberDetails">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
    </message>
    <message name="updateMemberDetailsResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="submitVisitorReport">
        <part name="arg0" type="xsd:int"/>
        <part name="arg1" type="xsd:string"/>
    </message>
    <message name="submitVisitorReportResponse"/>
    <portType name="MemberService">
        <operation name="registerMember" parameterOrder="arg0 arg1">
            <input wsam:Action="http://services.saxonheritage.example.com/MemberService/registerMemberRequest" message="tns:registerMember"/>
            <output wsam:Action="http://services.saxonheritage.example.com/MemberService/registerMemberResponse" message="tns:registerMemberResponse"/>
        </operation>
        <operation name="getMembershipInfo">
            <input wsam:Action="http://services.saxonheritage.example.com/MemberService/getMembershipInfoRequest" message="tns:getMembershipInfo"/>
            <output wsam:Action="http://services.saxonheritage.example.com/MemberService/getMembershipInfoResponse" message="tns:getMembershipInfoResponse"/>
        </operation>
        <operation name="sendPromotion" parameterOrder="arg0 arg1">
            <input wsam:Action="http://services.saxonheritage.example.com/MemberService/sendPromotionRequest" message="tns:sendPromotion"/>
            <output wsam:Action="http://services.saxonheritage.example.com/MemberService/sendPromotionResponse" message="tns:sendPromotionResponse"/>
        </operation>
        <operation name="updateMemberDetails" parameterOrder="arg0 arg1">
            <input wsam:Action="http://services.saxonheritage.example.com/MemberService/updateMemberDetailsRequest" message="tns:updateMemberDetails"/>
            <output wsam:Action="http://services.saxonheritage.example.com/MemberService/updateMemberDetailsResponse" message="tns:updateMemberDetailsResponse"/>
        </operation>
        <operation name="submitVisitorReport" parameterOrder="arg0 arg1">
            <input wsam:Action="http://services.saxonheritage.example.com/MemberService/submitVisitorReportRequest" message="tns:submitVisitorReport"/>
            <output wsam:Action="http://services.saxonheritage.example.com/MemberService/submitVisitorReportResponse" message="tns:submitVisitorReportResponse"/>
        </operation>
    </portType>
    <binding name="MemberServiceImplPortBinding" type="tns:MemberService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="registerMember">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://services.saxonheritage.example.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://services.saxonheritage.example.com/"/>
            </output>
        </operation>
        <operation name="getMembershipInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://services.saxonheritage.example.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://services.saxonheritage.example.com/"/>
            </output>
        </operation>
        <operation name="sendPromotion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://services.saxonheritage.example.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://services.saxonheritage.example.com/"/>
            </output>
        </operation>
        <operation name="updateMemberDetails">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://services.saxonheritage.example.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://services.saxonheritage.example.com/"/>
            </output>
        </operation>
        <operation name="submitVisitorReport">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://services.saxonheritage.example.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://services.saxonheritage.example.com/"/>
            </output>
        </operation>
    </binding>
    <service name="MemberServiceImplService">
        <port name="MemberServiceImplPort" binding="tns:MemberServiceImplPortBinding">
            <soap:address location="http://localhost:8080/soap-api/memberService"/>
        </port>
    </service>
</definitions>