src/main/resources/wsdl/memberService.wsdl.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.saxonheritagecharity.example.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://jaxb.dev.java.net/array" name="MemberServiceImplementationService" targetNamespace="http://services.saxonheritagecharity.example.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jaxb.dev.java.net/array" version="1.0">
            <xs:complexType final="#all" name="stringArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.saxonheritagecharity.example.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.saxonheritagecharity.example.com/">
            <xsd:element name="GlobalCustomException" type="tns:GlobalCustomException"/>
            <xsd:complexType name="GlobalCustomException">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="message" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="statusCode" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getMembershipInfoResponse">
        <wsdl:part name="return" type="xsd:string"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendPromotionResponse"> </wsdl:message>
    <wsdl:message name="registerMember">
        <wsdl:part name="arg0" type="xsd:string"> </wsdl:part>
        <wsdl:part name="arg1" type="xsd:string"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="registerMemberResponse">
        <wsdl:part name="return" type="xsd:string"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GlobalCustomException">
        <wsdl:part element="tns:GlobalCustomException" name="GlobalCustomException"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVisitorReports">
        <wsdl:part name="arg0" type="xsd:string"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMembershipInfo">
        <wsdl:part name="arg0" type="xsd:string"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateMemberDetailsResponse">
        <wsdl:part name="return" type="xsd:string"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPromotions">
        <wsdl:part name="arg0" type="xsd:string"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="submitVisitorReport">
        <wsdl:part name="arg0" type="xsd:string"> </wsdl:part>
        <wsdl:part name="arg1" type="ns1:stringArray"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="submitVisitorReportResponse"> </wsdl:message>
    <wsdl:message name="getVisitorReportsResponse">
        <wsdl:part name="return" type="ns1:stringArray"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendPromotion">
        <wsdl:part name="arg0" type="xsd:string"> </wsdl:part>
        <wsdl:part name="arg1" type="xsd:string"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateMemberDetails">
        <wsdl:part name="arg0" type="xsd:string"> </wsdl:part>
        <wsdl:part name="arg1" type="xsd:string"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPromotionsResponse">
        <wsdl:part name="return" type="ns1:stringArray"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MemberService">
        <wsdl:operation name="getPromotions">
            <wsdl:input message="tns:getPromotions" name="getPromotions"> </wsdl:input>
            <wsdl:output message="tns:getPromotionsResponse" name="getPromotionsResponse"> </wsdl:output>
            <wsdl:fault message="tns:GlobalCustomException" name="GlobalCustomException"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="submitVisitorReport">
            <wsdl:input message="tns:submitVisitorReport" name="submitVisitorReport"> </wsdl:input>
            <wsdl:output message="tns:submitVisitorReportResponse" name="submitVisitorReportResponse"> </wsdl:output>
            <wsdl:fault message="tns:GlobalCustomException" name="GlobalCustomException"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendPromotion">
            <wsdl:input message="tns:sendPromotion" name="sendPromotion"> </wsdl:input>
            <wsdl:output message="tns:sendPromotionResponse" name="sendPromotionResponse"> </wsdl:output>
            <wsdl:fault message="tns:GlobalCustomException" name="GlobalCustomException"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registerMember">
            <wsdl:input message="tns:registerMember" name="registerMember"> </wsdl:input>
            <wsdl:output message="tns:registerMemberResponse" name="registerMemberResponse"> </wsdl:output>
            <wsdl:fault message="tns:GlobalCustomException" name="GlobalCustomException"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateMemberDetails">
            <wsdl:input message="tns:updateMemberDetails" name="updateMemberDetails"> </wsdl:input>
            <wsdl:output message="tns:updateMemberDetailsResponse" name="updateMemberDetailsResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVisitorReports">
            <wsdl:input message="tns:getVisitorReports" name="getVisitorReports"> </wsdl:input>
            <wsdl:output message="tns:getVisitorReportsResponse" name="getVisitorReportsResponse"> </wsdl:output>
            <wsdl:fault message="tns:GlobalCustomException" name="GlobalCustomException"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMembershipInfo">
            <wsdl:input message="tns:getMembershipInfo" name="getMembershipInfo"> </wsdl:input>
            <wsdl:output message="tns:getMembershipInfoResponse" name="getMembershipInfoResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MemberServiceImplementationServiceSoapBinding" type="tns:MemberService">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="submitVisitorReport">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="submitVisitorReport">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="submitVisitorReportResponse">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GlobalCustomException">
                <soap:fault name="GlobalCustomException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPromotions">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getPromotions">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPromotionsResponse">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GlobalCustomException">
                <soap:fault name="GlobalCustomException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendPromotion">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="sendPromotion">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendPromotionResponse">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GlobalCustomException">
                <soap:fault name="GlobalCustomException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registerMember">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="registerMember">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="registerMemberResponse">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GlobalCustomException">
                <soap:fault name="GlobalCustomException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateMemberDetails">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="updateMemberDetails">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateMemberDetailsResponse">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVisitorReports">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getVisitorReports">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVisitorReportsResponse">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GlobalCustomException">
                <soap:fault name="GlobalCustomException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMembershipInfo">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getMembershipInfo">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getMembershipInfoResponse">
                <soap:body namespace="http://services.saxonheritagecharity.example.com/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MemberServiceImplementationService">
        <wsdl:port binding="tns:MemberServiceImplementationServiceSoapBinding" name="MemberServiceImplementationPort">
            <soap:address location="http://localhost:8080/soap-api/memberService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>